/* Style HTML tag */
body {
  font-family: Arial, sans-serif;
  background-color: #f0f0f0;
  margin: 20px;
}

/* Class applied to multiple elements */
.highlight {
  color: darkblue;
  text-decoration: underline;
}

/* ID style */
#intro {
  border: 2px solid black;
  padding: 10px;
  margin-bottom: 20px;
}

/* Hover effect on link */
a:hover {
  color: red;
}

.floating-img {
  position: absolute;
  top: 40%;
  left: 70%;
  width: 40px;
  transform: rotate(-5deg);
  height: auto;
  cursor: pointer;
}